@model FutureKart.View_Models.VariantViewModel

@{
    ViewBag.Title = "ShowVariant";
}

<h2>Product Detail</h2>
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">
            <div class="col-sm-8">
                <div class="text-center" style="margin-top:50px;">
                    <a href="#" class="prod-img">
                        <img src="@Model.VariantImages.First().ImageURL" class="img-fluid" alt="Free html5 bootstrap 4 template" style="max-height: 300px; max-width: 300px">
                    </a>
                </div>
                @foreach (var variant in Model.Product.Variants.ToList())
                {
                    <a href="@Url.Action("UpdateVariant", "Product", new { variantID = variant.ID})" class="prod-img">
                        <img src="@variant.VariantImages.First().ImageURL" class="img-fluid" alt="Free html5 bootstrap 4 template" style="max-width:50px;height:50px;margin-left:2rem;" />
                    </a>
                }
            </div>
            <div class="col-sm-4">
                <div class="product-desc">
                    <h3>@Model.Product.Name</h3>
                    <h5>Category : @Model.Product.Category.Name</h5>
                    <p class="price">
                        @if (Model.Discount != 0)
                        {
                            <strike>Rs. @Model.ListingPrice</strike><span style="display:inline">  Rs. @((Model.ListingPrice * (100 - Model.Discount) / 100))</span>
                        }
                        else
                        {
                            <span>Rs. @Model.ListingPrice</span>
                        }
                    </p>
                    <p>@Model.Product.Description</p>
                    <p><b>The order quantity of this product is limited to @Model.Product.OrderLimit per user.</b></p>
                    <h5>
                        @if (Model.Inventory <= 7)
                        {<span>Only</span>} @(Model.Inventory - Model.QuantitySold) left in stock
                    </h5>
                    <h3>
                        @Model.VariantString
                    </h3>

                    @using (Html.BeginForm("AddItem", "Cart", new { ProductID = Model.ID, Inventory = Model.Inventory, OrderLimit = Model.Product.OrderLimit }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="input-group mb-4 row col-md-4">
                            <span class="input-group-btn">
                                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                    -
                                </button>
                            </span>


                            <input type="text" id="quantity" name="Quantity" class="form-control input-number" value="1" min="1" max="100">
                            <span class="input-group-btn ml-1">
                                <button class="quantity-right-plus btn" type="button" data-type="plus" data-field="">
                                    +
                                </button>
                            </span>
                            @*<select name="VariantID" id="variant" class="form-control col-md-6" hidden>
                    @foreach (var Variant in Model.Product.Variants)
                    {
                        <option value=@Variant.ID>@Variant.VariantString</option>
                    }
                </select>*@
                        </div>
                        //@Html.ValidationMessageFor(Model => Model.variantDisplay., "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-sm-12 text-right " style="margin-top:5px">
                                <p class="addtocart"><button class="btn btn-primary btn-addtocart btn-success" type="submit"><i class="icon-shopping-cart"></i> Add to Cart</button></p>
                            </div>
                        </div>
                    }
                    <div id="Target"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        function ChangeData(selectedID) {
            console.log(selectedID.value)
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateVariant","Product")",
                    data: { variantID: selectedID.value},
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            });
    }
</script>

