@model FutureKart.View_Models.OrdersViewModel
@{
    ViewBag.Title = "MyOrders";
}

<h2 class="text-center">Order History</h2>
<br />

<div class="row">
    @if (Model.Orders.Count() != 0)
    {
        foreach (var order in Model.Orders)
        {


    <div class="col-md-7" style="margin-top:10px;border-bottom:ridge">
        <div class="col-md-5">
            <img src="@order.OrderPlaceds.First().OrderPlacedVariants.First().Variant.VariantImages.First().ImageURL" class="img-fluid" alt="Image Not available" style=" height:100px;width:100px;">
        </div>
        <div class="col-md-7">
            <h4>Order ID :<a href="@Url.Action("GetOrder", "Order", new { OrderID = order.ID })">@order.ID.GetHashCode()</a></h4>
            <h4>Order date :<a href="@Url.Action("GetOrder", "Order", new { OrderID = order.ID })">@order.OrderDate.ToString("dd/MM/yyyy")</a></h4>
            <p><b>Total : </b>$@order.TotalAmount</p>
            <p><b>Status : </b>@order.Status</p>
        </div>
        <hr />
    </div>
            
        }
    }
    else
    {
        <h2>You have not placed any orders so far.</h2>
    }
</div>


